.nav-link.active {
    background-color: #007bff;
    color: #fff;
}

.tab-content {
    margin-top: 20px;
}

.tab-pane ul {
    list-style-type: none;
    padding: 0;
}

.tab-pane ul li {
    padding: 8px 0;
}

.aca-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.aca-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.aca-card {
    position: relative;
    width: 100%;
    height: 180px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .aca-card p:not(.heading) {
    font-size: 14px;
  }
  
  .aca-card p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .aca-card:hover::after {
    filter: blur(30px);
  }
  
  .aca-card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  
  .academicheading{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  
  .subheading {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }